{erl_opts, [debug_info, {d, 'DEBUG'}]}.

{deps, [
    {slice, {git, "https://github.com/erlangsters/slice.git", {tag, "master"}}},
    {worker, {git, "https://github.com/erlangsters/worker.git", {tag, "master"}}},
    {egl, {git, "https://github.com/erlangsters/egl-1.5.git", {tag, "master"}}},
    % {gl, {git, "https://github.com/erlangsters/opengl-es-3.1.git", {tag, "master"}}}
    {gl, ".*"},
    {glfw, {git, "https://github.com/erlangsters/glfw.git", {tag, "master"}}}
]}.

{profiles, [
    {docs, [
        {plugins, [rebar3_ex_doc]},
        {ex_doc, [
            {main, "README.md"},
            {extras, [
                "README.md",
                "docs/going-2d.md",
                "docs/going-3d.md",
                "docs/texturing.md",
                "docs/graphical-resources.md",
                "docs/going-native.md",
                "docs/display-window.md",
                "docs/fancy-shapes.md",
                "docs/text-rendering.md"
            ]},
            {groups_for_extras, [
                {<<"Guides">>, [
                    <<"docs/going-2d.md">>,
                    <<"docs/going-3d.md">>,
                    <<"docs/texturing.md">>,
                    <<"docs/graphical-resources.md">>,
                    <<"docs/going-native.md">>
                ]},
                {<<"Companions">>, [
                    <<"docs/display-window.md">>,
                    <<"docs/fancy-shapes.md">>,
                    <<"docs/text-rendering.md">>
                ]}
            ]},
            {source_url, "https://github.com/erlangsters/beam-graphics"}
        ]}
    ]}
]}.
